@use "../components/colors";

body{
    background: colors.$discord-black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors.$discord-white;
    font-family: "Open Sans", sans-serif;
    flex-wrap: wrap;
    gap: 2rem;
}



footer{
    width: 100%;
    height: 20rem;
    background: colors.$discord-gray;
}